*{
    font-family: sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-align: center;
}

h1{
    margin-top: 40px;
}

#content{
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, auto));
    grid-gap: 10px;
}

.maquina{
    padding: 20px;
    background-color: grey;
    max-width: 250px;

    a{
        display: block;
        width: 200px;
        padding: 10px;
        background-color: rgb(37, 94, 146);
        margin: auto;
        margin-top: 10px;
        text-decoration: none;
        color: white;

        &:hover{
            background-color: rgb(13, 42, 70);
        }
    }
}